services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  api:
    build:
      context: ./src/backend
    container_name: api
    depends_on:
      - qdrant
    ports:
      - "8000:80"
    volumes:
      - ./src/backend:/code

  ui:
    build:
      context: ./src/frontend
    container_name: ui
    ports:
      - "8501:8501"
    volumes:
      - ./src/frontend:/app

volumes:
  qdrant_data:
