---
services:
  qdrant:
    image: docker.io/qdrant/qdrant:latest
    container_name: ${QDRANT_CONTAINER_NAME:-qdrant}

  api:
    image: docker.io/jasonheecs/jason-rag-api:latest
    container_name: ${API_CONTAINER_NAME:-api}
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - QDRANT_HOST=${QDRANT_HOST}
      - QDRANT_PORT=${QDRANT_PORT}
      - QDRANT_COLLECTION_NAME=${QDRANT_COLLECTION_NAME}
      - HF_TOKEN=${HF_TOKEN}

  ingestion:
    image: docker.io/jasonheecs/jason-rag-ingestion:latest
    container_name: ${INGESTION_CONTAINER_NAME:-ingestion}
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - QDRANT_HOST=${QDRANT_HOST}
      - QDRANT_PORT=${QDRANT_PORT}
      - QDRANT_COLLECTION_NAME=${QDRANT_COLLECTION_NAME}
      - MEDIUM_USERNAME=${MEDIUM_USERNAME}
      - GITHUB_USERNAME=${GITHUB_USERNAME}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - RESUME_URL=${RESUME_URL}
      - HF_TOKEN=${HF_TOKEN}
    profiles:
      - manual  # only runs when explicitly invoked

  ui:
    image: docker.io/jasonheecs/jason-rag-ui:latest
    container_name: ${UI_CONTAINER_NAME:-ui}
    networks:
      - jason-rag-network
      - caddy-network

networks:
  caddy-network:
    external: true
