---
services:
  api:
    image: docker.io/jasonheecs/jason-rag-api:latest

  ingestion:
    image: docker.io/jasonheecs/jason-rag-ingestion:latest

  ui:
    image: docker.io/jasonheecs/jason-rag-ui:latest
    networks:
      - jason-rag-network
      - caddy-network

networks:
  caddy-network:
    external: true
