---
name: Build and push app docker images
'on':
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Bake and push
        uses: docker/bake-action@v6
        with:
          files: docker-compose.yml
          targets: api,ingestion,ui
          push: true
          set: |
            api.tags=jasonheecs/jason-rag-api:latest
            ingestion.tags=jasonheecs/jason-rag-ingestion:latest
            ui.tags=jasonheecs/jason-rag-ui:latest
